<section class="footer-section py-2 py-md-5">
  <div class="container">
    <div class="row">

      <div class="col-md-4 px-2 footer-col">



        <span class="footer-text">Icons made by <a title="Freepik" href="http://www.freepik.com">Freepik</a> from <a title="Flaticon" href="http://www.flaticon.com">www.flaticon.com</a>&nbsp;</span>
      </div>

      <div class="col-md-4 px-2 text-center footer-col">
        <span class="copyright">Copyright © 2019, Fanny Guan.</span>
      </div>

      <div class="col-md-4 px-2 text-right footer-col">
        <span class="text-right footer-text">San Francisco, CA</span>
      </div>
    </div>
  </div>
</section>
