.navbar {
  padding: 0;
  box-shadow: 1px 1px 1px rgba(173, 172, 172, 0.75);


  .nav-item {
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;

    a.nav-link:hover {
      text-decoration: none;
      font-weight: bolder;
      font-size: 110%;
      border-bottom: 1px solid currentColor;
    }
  }

  .logo {
    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
