<nav class="navbar navbar-light bg-white navbar-expand-md sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="logo" src="../../assets/img/logo.png" height="65" alt="Home">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link text-uppercase font-weight-bold" href="#projects-section">Projects</a>
        <a class="nav-item nav-link text-uppercase font-weight-bold" href="#resume-section">Resume</a>
        <a class="nav-item nav-link text-uppercase font-weight-bold" href="#contact-section">Contact</a>
      </div>
    </div>
  </div>
</nav>
