@import "../../styles.scss";

.project-header-section {
  background: $misty-rose;
  .project-image {
    height: 600px;
    @media screen and (max-width: breakpoint-max(md)) {
      height: 300px;
    }
    background: url($portfolio-fullsize) no-repeat center;
    background-size: cover;
  }
}

.project-details {
  .icon {
    max-width: 40%;
    @media screen and (max-width: breakpoint-max(xs)) {
      max-width: 20%;
    }
  }
}
