<section class="project-header-section">
  <div class="container project-image">
    <span class="sr-only">{{portfolio.name}}</span>
  </div>
</section>

<section class="project-details">
  <div class="container project-details-container">

    <div class="row pt-4">
      <div class="col-lg-8 col-md-6 p-3">
        <h2 class="project-title mb-3">{{portfolio.name}}</h2>
        <h4 class="section-header">Goal</h4>
        <p>sadfsdf</p>
      </div>
      <div class="col-lg-4 col-md-6 p-3">
        <p><b>Role:</b> UX Designer, Developer</p>
        <p class="mb-0"><i>[ Personal ]</i></p>
      </div>
    </div>

    <div class="divider"></div>

    <h3 class="section-header">Introduction</h3>
    <p>

    </p>


    <div class="divider"></div>
    <div class="text-center p-md-5 my-5">
      <h5 class="font-weight-bold lavender-text">Mission Statement</h5>
      <h4 class="text-focus-statement">
        asdfdasf
      </h4>
    </div>
    <div class="divider"></div>


    <div class="divider"></div>
    <div class="text-center p-md-5 my-5">
      <h5 class="font-weight-bold lavender-text">The Problem</h5>
      <h4 class="text-focus-statement">
        asfsdf
      </h4>
    </div>
    <div class="divider"></div>


    <div class="divider"></div>
    <div class="text-center p-md-5 my-5">
      <h5 class="font-weight-bold lavender-text">My Solution</h5>
      <h4 class="text-focus-statement">
        asdfasdf
      </h4>
    </div>
    <div class="divider"></div>

    <br>
  </div>
</section>
