@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.projects-section {
  background: linear-gradient(0.65turn, #b4f2f4, #f4c3b4);

  .projects-container {
    max-width: 1920px;
  }

  .project-thumbnail {
    height: 400px;
    @media screen and (max-width: breakpoint-max(md)) {
      height: 300px;
    }
    @media screen and (max-width: breakpoint-max(sm)) {
      height: 250px;
    }
  }

  .project1 {
    background: url(../../assets/img/climatelens.png) no-repeat center;
    background-size: 100% auto;
    &:hover {
      background-size: 110% auto;
    }
  }
  .project2 {
    background: url(../../assets/img/photo.jpg) no-repeat center;
    background-size: 100% auto;
    &:hover {
      background-size: 110% auto;
    }
  }
  .project3 {
    background: url(../../assets/img/photo.jpg) no-repeat center;
    background-size: 100% auto;
    &:hover {
      background-size: 110% auto;
    }
  }
  .project4 {
    background: url(../../assets/img/photo.jpg) no-repeat center;
    background-size: 100% auto;
    &:hover {
      background-size: 110% auto;
    }
  }
}
