.projects-section {
  background: linear-gradient(1.35turn, #b4f2f4, #f4c3b4);

  .project1-thumbnail {
    background: url(../../assets/img/photo.jpg) no-repeat center;
    background-size: 100% auto;
    height: 300px;
  }

  .project2-thumbnail {
    background: url(../../assets/img/photo.jpg) no-repeat center;
    background-size: 100% auto;
    height: 300px;
  }

  .project3-thumbnail {
    background: url(../../assets/img/photo.jpg) no-repeat center;
    background-size: 100% auto;
    height: 300px;
  }

  .project4-thumbnail {
    background: url(../../assets/img/photo.jpg) no-repeat center;
    background-size: 100% auto;
    height: 300px;
  }
}
