<section class="projects-section py-5" id="projects-section">
  <h1 class="extrabold py-3 mb-3 text-center">Projects</h1>

  <div class="row">
    <div class="col-md-6 px-0">
      <a routerLink="/">
        <div class="project1-thumbnail"></div>
      </a>
    </div>
    <div class="col-md-6 px-0">
      <a routerLink="/">
        <div class="project2-thumbnail"></div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 px-0">
      <a routerLink="/">
        <div class="project3-thumbnail"></div>
      </a>
    </div>
    <div class="col-md-6 px-0">
      <a routerLink="/">
        <div class="project4-thumbnail"></div>
      </a>
    </div>
  </div>
</section>
