.projects-section {
  background: linear-gradient(1.35turn, #b4f2f4, #f4c3b4);

  .projects-container {
    max-width: 1900px;
  }

  .project-thumbnail {
    height: 300px;
  }

  .project1 {
    background: url(../../assets/img/photo.jpg) no-repeat center;
    background-size: 100% auto;
    &:hover {
      background-size: 110% auto;
    }
  }
  .project2 {
    background: url(../../assets/img/photo.jpg) no-repeat center;
    background-size: 100% auto;
    &:hover {
      background-size: 110% auto;
    }
  }
  .project3 {
    background: url(../../assets/img/photo.jpg) no-repeat center;
    background-size: 100% auto;
    &:hover {
      background-size: 110% auto;
    }
  }
  .project4 {
    background: url(../../assets/img/photo.jpg) no-repeat center;
    background-size: 100% auto;
    &:hover {
      background-size: 110% auto;
    }
  }
}
