<section class="contacts-section py-5">

  <div class="container">
    <h1 class="extrabold text-center py-3 mb-3">Thanks for dropping by.</h1>

    <div class="row contact-link-row text-center pt-5 mx-auto">
      <div class="col-md-4">
        <a class="contact-link" routerLink="">
          <img class="contact-link-icon" [src]="contactLinkImgSrc1">
          <div class="contact-link-label py-3 mb-sm-4">{{contactLinkLabel1}}<br><h5>{{formatLabel}}</h5></div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="contact-link" href="https://github.com/fguan0529" target="_blank">
          <img class="contact-link-icon" [src]="contactLinkImgSrc2">
          <div class="contact-link-label py-3 mb-sm-3">{{contactLinkLabel2}}<br><h5>{{gitLabel}}</h5></div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="contact-link" href="" target="_blank">
          <span class="sr-only">Copy guan.fanny@gmail.com to clipboard</span>
          <img class="contact-link-icon" [src]="contactLinkImgSrc3">
          <div class="contact-link-label py-3">{{contactLinkLabel3}}<br><h5>{{emailLabel}}</h5></div>
        </a>
      </div>
    </div>
  </div>

</section>

<section class="contacts-section-2 py-5">
  <div class="container">
    <h2 class="text-center pb-3">Let's chat!</h2>
    <div class="contact-form mx-auto form-inline">


      <div class="row">
        <p class="m-0 py-2">Email:</p>
        <div class="form-group">
          <label for="email" class="sr-only">Name</label>
          <input type="email" class="form-control required" id="email" placeholder="name@example.com">
        </div>
      </div>

      <div class="row py-2">
        <div class="m-0 pr-2">Hello Fanny, my name is</div>
        <div class="form-group">
          <label for="name" class="sr-only">Name</label>
          <input type="text" class="form-control required" id="name" placeholder="New Friend">
        </div>
        <div class="m-0 px-2">.</div>
      </div>

      <div class="row py-2 w-100">
        <div class="form-group w-100">
          <label for="message" class="sr-only">Message</label>
          <textarea class="form-control m-0 w-100" id="message" rows="4" placeholder="I am writing to you..."></textarea>
        </div>
      </div>

      <div class="row p-2 w-100">
        <div class="float-right"> <button class="btn btn-outline-dark" type="submit">Submit message</button></div>
      </div>
    </div>
  </div>

</section>
