.contacts-section {
  .contact-link-icon {
    max-width: 20%;
  }
  .contact-link-row {
    max-width: 1000px;
  }
  a.contact-link {
    text-decoration: none;

    &:hover {
      .contact-link-icon, .contact-link-label {
        color: #333;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
      cursor: pointer;
    }
  }
  .contact-link-label {
    font-size: medium;
    font-weight: 600;
  }
}
