@import "../../styles.scss";

.skills-section {
  background: linear-gradient(1.35turn, #b5f3f0, #f3f2b5);

  .skills-icon {
    max-width: 35%;
  }

  .skill-label {
    font-weight: 600;
    max-width: 70%;
    line-height: 1.4;
    letter-spacing: 1px;
  }
}
