@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$open-sans: 'Open Sans', sans-serif;
$dark-grey: #adacac;
$light-alpha-pink: rgba(231, 220, 232, 0.66);
$climatelens-img: '../../assets/img/climatelens.png';


* { font-family: $open-sans; }

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.extrabold {
  font-weight: 800;
}

a.anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}
