@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$open-sans: 'Open Sans', sans-serif;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

* { font-family: $open-sans; }

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.extrabold {
  font-weight: 800;
}

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}
