@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$open-sans: 'Open Sans', sans-serif;
$misty-rose: #f4c3b4;
$misty-cyan: #ccf4ea;
$vivid-cyan: #327f99;
$grey-shadow: #adacac;
$dark-lavender: #4f474e;
$lavender: #7f727d;
$light-alpha-pink: rgba(231, 220, 232, 0.66);
$gradient-climatelens: linear-gradient(45deg, #7986aa, #95b7d9);
$gradient-microsite: linear-gradient(45deg, #8bcbcb, #49b0d4);

$climatelens-thumbnail: '../../assets/img/climatelens_thumbnail.png';
$climatelens-fullsize: '../../assets/img/climatelens_fullsize.png';
$microsite-thumbnail: '../../assets/img/microsite_thumbnail.png';
$microsite-fullsize: '../../assets/img/microsite_fullsize.png';
$portfolio-thumbnail: '../../assets/img/portfolio_thumbnail.png';
$portfolio-fullsize: '../../assets/img/portfolio_fullsize.png';

* { font-family: $open-sans; }

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.extrabold {
  font-weight: 800;
}

.title {
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

a, a p, a div, a img{
  color: $vivid-cyan;
}

a.anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bigger-text {
  font-size: 105%;
}

.lavender-text {
  color: $lavender;
}

.divider {
  background-color: $light-alpha-pink;
  display: block;
  margin: 50px auto;
  height: 1px;
  width: 250px;
  box-shadow: 0 1px 1px $grey-shadow;
  @media screen and (max-width: breakpoint-max(sm)) {
    width: 150px;
  }
}

.project-details {
  .project-details-container {
    max-width: 1000px;
  }

  .section-header {
    font-weight: bold;
    color: $dark-lavender;
  }

  p {
    font-size: large;
    padding: 10px;
    @media screen and (max-width: breakpoint-max(sm)) {
      font-size: medium;
      padding: 5px;
    }
  }

  .project-title {
    font-weight: bold;
    color: $lavender;
  }


  .text-focus-statement {
    @media screen and (max-width: breakpoint-max(sm)) {
      font-size: 1.2em;
      padding: 5px 0;
    }
  }

  .img-large {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
    @media screen and (max-width: breakpoint-max(sm)) {
      padding: 5px;
    }
  }

  .container-long-img {
    max-width: 80%;
    border: black 1px solid;
    display: block;
    margin: 0 auto;
    overflow-y: auto;
    height: 400px;
    @media screen and (max-width: breakpoint-max(sm)) {
      max-width: 100%;
      height: 100%;
    }
  }
}
