<section class="project-header-section">
  <div class="container project-image">
    <span class="sr-only">{{caseStudies.name}}</span>
  </div>
</section>

<section class="project-details">
  <div class="container project-details-container">

    <div class="row pt-4">
      <div class="col-lg-8 col-md-6 p-3">
        <h2 class="project-title mb-3">{{caseStudies.name}}</h2>
        <h4 class="section-header">About</h4>
        <p>
          Here are some case studies on applications and their usability that were done as university
          assignments.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 p-3">
        <p><b>Role:</b> User Research</p>
        <p class="mb-0"><i>[ UCI ] [ Team ]</i></p>
      </div>
    </div>

    <div class="divider"></div>


    <div class="row">
      <div class="col-sm-6 m-md-auto text-center mb-4">
        <h3 class="section-header">Discord</h3>
        <br>
        <a class="pdf-link img-center text-center"
           [href]="discordPaper" target="_blank">
          <img class="pdf-link-icon" [src]="pdfIcon">
          <div class="pdf-link-label py-1 mb-sm-4">View PDF</div>
        </a>
      </div>
      <div class="col-sm-6 text-center">
        <p>
          <b>Team:</b><br>
          Sarah Espinosa<br>
          Fanny Guan (me)<br>
          Julia Hoang<br>
          Shereen Jayme<br>
          Jacqueline Nguyen<br>
          Nazneen Peracha<br>
        </p>
      </div>
    </div>

    <div class="divider"></div>

    <div class="row">
      <div class="col-sm-6 m-auto text-center mb-3 mb-md-0">
        <h3 class="section-header">Skype</h3>
        <br>
        <a class="pdf-link img-center text-center"
           [href]="skypePaper" target="_blank">
          <img class="pdf-link-icon" [src]="pdfIcon">
          <div class="pdf-link-label py-1 mb-sm-4">View PDF</div>
        </a>
      </div>
      <div class="col-sm-6 text-center">
        <p>
          <b>Team:</b><br>
          Fanny Guan(me)<br>
          Julia Hoang<br>
          Shereen Jayme<br>
          Victoria Lai<br>
          Kenzo Makitani<br>
        </p>
      </div>
    </div>

    <br>
    <br>
  </div>
</section>

<app-projects-navbar></app-projects-navbar>
