@import "../../styles.scss";

.project-header-section {
  background: url($specks-svg) repeat,
    $gradient-casestudies;
  background-size: 100%;
  .project-image {
    height: 600px;
    @media screen and (max-width: breakpoint-max(md)) {
      height: 300px;
    }
    background: url($casestudies-fullsize) no-repeat center;
    background-size: cover;
  }
}

.project-details {

}
