<section class="project-header-section">
  <div class="container project-image">
    <span class="sr-only">{{caseStudies.name}}</span>
  </div>
</section>

<section class="project-details">
  <div class="container project-details-container">

    <div class="row pt-4">
      <div class="col-lg-8 col-md-6 p-3">
        <h2 class="project-title mb-3">{{caseStudies.name}}</h2>
        <h4 class="section-header">About</h4>
        <p>
          Here are some case studies on applications and their usability that were done as university
          assignments.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 p-3">
        <p><b>Role:</b> User Research</p>
        <p class="mb-0"><i>[ UCI ] [ Team ]</i></p>
      </div>
    </div>

    <div class="divider"></div>

    <h3 class="section-header">Discord</h3>
    <p>
      <b>Team:</b><br>
      Laura Marsh<br>
      Christine Yuen<br>
      Matthew Ardeleanu<br>
      Sara Weir<br>
      Fanny Guan (me)
    </p>
    <p>

    </p>

    <h3 class="section-header">Skype</h3>
    <p>

    </p>


    <br>
  </div>
</section>
