<nav class="navbar navbar-light navbar-expand m-auto">
  <div class="container">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item m-auto text-center">
          <a class="nav-link p-0" href="#projects-section">
            All Projects
          </a>
        </li>
        <li *ngFor="let proj of projects" class="nav-item m-auto text-center">
          <a class="nav-link p-0" [routerLink]="proj.link" routerLinkActive="active-link" (click)="scrollToTop()">
            {{proj.name}}
          </a>
        </li>
      </ul>
  </div>
</nav>
