<section class="project-header-section">
  <div class="container project-image">
    <span class="sr-only">{{microsite.name}}</span>
  </div>
</section>

<section class="project-details">
  <div class="container project-details-container">

    <div class="row pt-4">
      <div class="col-lg-8 col-md-6 p-3">
        <h2 class="project-title mb-3">{{microsite.name}}</h2>
        <h4 class="section-header">Goal</h4>
        <p>We designed a concept microsite for [ <i>company name omitted</i> ]
          to engage new potential investors and educate them on the company’s
          investing process.</p>
        <h4 class="section-header">Notes</h4>
        <p>
          This project was a sponsored collaboration between UCI's Senior Design Project course and
          a company who chooses to be unnamed. Though the company name is still included in our source
          code, they would like to remain unassociated. The company is an investment management
          company that manages mutual funds and other financial services.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 p-3">
        <p><b>Role:</b> UX Designer, User Researcher, Developer</p>
        <p><b>Contributions:</b> Research, Sketches, Mockups, Prototype, Flask Prototype</p>
        <p>
          <b>Team:</b><br>
          Laura Marsh<br>
          Christine Yuen<br>
          Matthew Ardeleanu<br>
          Sara Weir<br>
          Fanny Guan (me)
        </p>
        <p class="mb-0"><i>[ UCI ] [ Team ] [ Agile ]</i></p>
      </div>
    </div>

    <div class="divider"></div>

    <h3 class="section-header">Introduction</h3>
    <p>
      After the initial elicitation sessions with the sponsor, it was decided they wanted a product
      that communicated with a new target audience of potential new investors.
    </p>
