@import "../../styles.scss";

.project-header-section {
  background-image: linear-gradient(45deg, #8bcbcb, #49b0d4);
  .project-image {
    height: 600px;
    @media screen and (max-width: breakpoint-max(md)) {
      height: 300px;
    }
    background: url($microsite-fullsize) no-repeat center;
    background-size: cover;
  }
}

.project-details {
  .project-details-container{
    max-width: 1000px;
  }
  .section-header {
    font-weight: bold;
    color: $dark-lavender;
  }
  p {
    font-size: large;
    padding: 10px;
  }
  .project-title {
    font-weight: bold;
    color: $lavender;
  }

  .img-large {
    padding:0 20px 20px 20px;
    @media screen and (max-width: breakpoint-max(sm)) {
      padding: 5px;
    }
  }

  .img-flow {
    max-width: 700px;
  }
}
