<section class="project-header-section">
  <div class="container project-image">
    <span class="sr-only">{{microsite.name}}</span>
  </div>
</section>

<section class="project-details">
  <div class="container project-details-container">

    <div class="row pt-4">
      <div class="col-lg-8 col-md-6 p-3">
        <h2 class="project-title mb-3">{{microsite.name}}</h2>
        <h4 class="section-header">Goal</h4>
        <p>{{microsite.description}}</p>
        <h4 class="section-header">Notes</h4>

      </div>
      <div class="col-lg-4 col-md-6 p-3">
        <p><b>Role:</b> </p>
        <p><b>Contributions:</b> </p>
        <p>
          <b>Team:</b><br>
          Brett Benner
          Brooke Ly
          Kent Han
          Kenzo Makitani
          Fanny Guan (me)
        </p>
        <p class="mb-0"><i>[ UCI ] [ Team ] [ Agile ]</i></p>
      </div>
    </div>

    <div class="divider"></div>

    <h3 class="section-header">Introduction</h3>
    <p>

    </p>
