@import "../../styles.scss";

.project-header-section {
  background-image: linear-gradient(45deg, #8bcbcb, #49b0d4);
  .project-image {
    height: 600px;
    @media screen and (max-width: breakpoint-max(md)) {
      height: 300px;
    }
    background: url($microsite-fullsize) no-repeat center;
    background-size: cover;
  }
}

.project-details {
  a.git-link {
    text-decoration: none;
    font-weight: bold;

    .link-icon {
      width: 100px;
      padding: 5px;
    }

    &:hover {
      .link-icon, .link-label {
        color: #333;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
      cursor: pointer;
    }
  }
}
