<section class="project-header-section">
  <div class="container project-image">
    <span class="sr-only">{{microsite.name}}</span>
  </div>
</section>

<section class="project-details">
  <div class="container project-details-container">

    <div class="row pt-4">
      <div class="col-lg-8 col-md-6 p-3">
        <h2 class="project-title mb-3">{{microsite.name}}</h2>
        <h4 class="section-header">Goal</h4>
        <p>We designed a concept microsite for [ <i>company name omitted</i> ]
          to engage new potential investors and educate them on the company’s
          investing process.</p>
        <h4 class="section-header">Notes</h4>
        <p>
          This project was a sponsored collaboration between UCI's Senior Design Project course and
          a company who chooses to be unnamed. Though the company name is still included in our source
          code, they would like to remain unassociated as the project only reached the experimental
          stage. The company is an investment management company that manages mutual funds and other
          financial services.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 p-3">
        <p><b>Role:</b> UX Designer, User Researcher, Developer</p>
        <p><b>Contributions:</b> Research, Sketches, Prototype, Flask Prototype</p>
        <p>
          <b>Team:</b><br>
          Laura Marsh<br>
          Christine Yuen<br>
          Matthew Ardeleanu<br>
          Sara Weir<br>
          Fanny Guan (me)
        </p>
        <p class="mb-0"><i>[ UCI ] [ Team ]</i></p>
      </div>
    </div>

    <div class="divider"></div>

    <h3 class="section-header">Introduction</h3>
    <p>
      Initially, the sponsor did not know the exact product they wanted. They did know that they
      wanted to connect with new target audience that the company did not reach due to
      their communication style of their existing website and material and lack of marketing. In the
      initial stages of the project, we had a little miscommunication with the sponsor in terms of
      expectations of the project. The sponsor initially expected more marketing content out of us
      while we, the team, were expecting to deliver a more technical approach that our skillsets
      would provide. We were able to overcome this and communicate more concisely with our sponsor
      moving forward.
    </p>


    <div class="divider"></div>
    <div class="text-center p-md-5 my-5">
      <h5 class="font-weight-bold lavender-text">Mission Statement</h5>
      <h4 class="text-focus-statement">
        The microsite should fulfill our three main goals: to <b class="bigger-text">clearly explain</b>
        the company's core values and investing style to a <b class="bigger-text">new audience</b>,
        to express the <b class="bigger-text">unique advantages</b> of company's investing style, and
        to deliver the key points of information in an <b class="bigger-text">easy</b> and
        <b class="bigger-text">digestible</b> manner.
      </h4>
    </div>
    <div class="divider"></div>


    <h3 class="section-header">Design Process</h3>
    <p>
      Even though we worked in Agile, the sponsor wanted separate design and implementation phases to
      first deliver design deliverables before starting implementation. So, for the first few sprints, we
      delivered research, sketches, mockups and, finally, a prototype to work off of. Much of the planning
      revolved around the marketing aspect as well, figuring out how to thoroughly inform as well as
      engage the user with the company's investing services as they interact with the microsite.
    </p>
    <img class="img-fluid img-center img-large"
         [src]="designProcessImg" alt="Design Process Diagram">

    <br>
    <h3 class="section-header mt-3">Personas</h3>
    <p>
      The sponsor explained to us that the audience they wanted the product to connect to were young
      professionals as well as older women nearing retirement. They felt they currently lack any
      connection to these target groups. Initial plans also considered the three groups of user types
      that the company works with: investor, advisor and institution. These user types were taken into
      consideration in our personas. The project itself ended up only focusing on investors in later
      iterations.
    </p>
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid img-center my-3"
             [src]="personaImg1" alt="Investor Persona - Thomas">
      </div>
      <div class="col-md-6">
        <img class="img-fluid img-center my-3"
             [src]="personaImg2" alt="Investor Persona - Nancy">
      </div>
      <div class="col-md-6">
        <img class="img-fluid img-center my-3"
             [src]="personaImg3" alt="Institution Persona - Roger">
      </div>
      <div class="col-md-6">
        <img class="img-fluid img-center my-3"
             [src]="personaImg4" alt="Advisor Persona - David">
      </div>
    </div>


    <div class="divider"></div>
    <div class="text-center p-md-5 my-5">
      <h5 class="font-weight-bold lavender-text">The Problem</h5>
      <h4 class="text-focus-statement">
        The company's current website information is <b class="bigger-text">hard to understand</b>
        for non-industry individuals and those new to the investing. The
        <b class="bigger-text">lack of marketing</b> also contributes to the
        resulting gap in their client demographic, leaving an <b class="bigger-text">untapped
        source</b> of potential new investors.
      </h4>
    </div>
    <div class="divider"></div>


    <h3 class="section-header">Website Flow Plan</h3>
    <p>
      Instead of overwhelming a user with too much information and background when they arrive
      at the website, we wanted to provide interactive features that allow them to familiarize
      themselves with the company and provide them resources. The user journey should start with
      interest, then take minimal input from the user, and output personalized information and
      resources. This way, the user gains a good amount of information with only a simple amount of
      engagement with the website.
    </p>
    <img class="img-fluid img-center img-large"
         [src]="flowImg" alt="Website Flow Diagram">

    <div class="row px-md-3 py-3 justify-content-center">
        <div class="col-md-4 col-sm-6">
          <h4 class="font-weight-bold">1. Visual</h4>
          <p>
            The visual serves as the attention grabber at the top of the website. It should
            be something the user can relate to as well as capture their attention to sway
            them to continue browsing the website.
          </p>
        </div>
        <div class="col-md-4 col-sm-6">
          <h4 class="font-weight-bold">2. Introduction</h4>
          <p>
            The introduction includes a quick overview of all the features of the website as
            and gives the user a reason to continue interacting with the website. This is also
            where a background on the company and its investing style should be introduced to
            the user in an easily digestible manner.
          </p>
        </div>
        <div class="col-md-4 col-sm-6">
          <h4 class="font-weight-bold">3. Funds Screener</h4>
          <p>
            With the Funds Screener, the user is given the chance to answer a few questions
            about themselves and their financial goals. The screener would then provide them
            with a few of the company's mutual funds to start and simple explanations on why
            they are a good fit for the user based on their answers.
          </p>
        </div>
    </div>
    <div class="row px-md-3 pb-3 justify-content-center">
        <div class="col-md-4 col-sm-6">
          <h4 class="font-weight-bold">4. Portfolio Optimizer</h4>
          <p>
            The Portfolio Optimizer takes it to the next step where the user has the option to
            input the funds they were just recommended from the Funds Screener, or any of their
            own choosing. The optimizer will then suggest a third stock that would help them
            diversify and balance their portfolio.
          </p>
        </div>
        <div class="col-md-4 col-sm-6">
          <h4 class="font-weight-bold">5. Advisor Locator</h4>
          <p>
            Lastly, equipped with their sample portfolio, the user can locate a financial advisor
            to help them get started with investing with the company's funds and services.
          </p>
        </div>
    </div>

    <h4 class="font-weight-bold text-center">Note</h4>
    <p>
      A better solution the company could implement as the final call to action would be to allow
      users to directly connect to a financial advisor online. However, the company is only
      responsible for managing the funds and is not a brokerage, so there is a lack infrastructure
      to implement such a feature.
    </p>


    <div class="divider"></div>
    <div class="text-center p-md-5 my-5">
      <h5 class="font-weight-bold lavender-text">Our Solution</h5>
      <h4 class="text-focus-statement">
        The microsite provides an <b class="bigger-text">informative introduction</b> to the
        company and their investment services. The <b class="bigger-text">engaging</b> tools on
        the website leaves the user <b class="bigger-text">well-equipped</b> with the knowledge
        to give them the <b class="bigger-text">confidence</b> take the call to action: to meet a financial
        advisor about investing with the company's funds.
      </h4>
    </div>
    <div class="divider"></div>


    <h3 class="section-header">Prototype</h3>

    <h4 class="font-weight-bold text-center">Low Fidelity</h4>
    <p>
      A prototype was made in Adobe Photoshop to visually plan the aesthetic of the website. It
      featured a header and some informational sections.
    </p>

    <div class="container-long-img">
      <img class="img-fluid img-center"
           [src]="prototypeImg" alt="Website Prototype Image">
    </div>

    <br>
    <br>

    <h4 class="font-weight-bold text-center">High Fidelity - Flask Implementation</h4>
    <p>
      A high-fidelity prototype was then implemented using Flask with Bootstrap. Basic working
      concept versions of the three tools were implemented with some placeholder functions for
      determining the recommended funds. Flask was chosen because the sponsor mentioned the
      company already uses Flask. Though the company name is still within our source code, they
      would like to maintain unassociated to the project as it never left experimental
      stages.
    </p>

    <div class="container-long-img">
      <img class="img-fluid img-center"
           [src]="flaskPrototypeImg" alt="Flask Prototype Image">
    </div>

    <br>

    <div class="img-center text-center py-4">
      <a class="git-link" href="https://github.com/mattardel/cgui" target="_blank">
        <img class="img-fluid link-icon" [src]="gitIcon">
        <p class="link-label">Check out the prototype on GitHub</p>
      </a>
    </div>

    <br>
  </div>
</section>

<app-projects-navbar></app-projects-navbar>
