<section class="home-section" id="home-section">

  <div class="row">
    <div class="col-md-8 my-auto">
      <h1 class="headline mb-4">
        Hello, my name is <span class="extrabold">Fanny Guan</span>.
      </h1>

      <h3 class="subline">
        I am a recent graduate with a Bachelors in <b class="bigger-text">Informatics</b>, specializing in <b class="bigger-text">Human Computer Interaction</b> from <span class="uc-text bigger-text">UC </span> <span class="irvine-text bigger-text">Irvine</span>.
      </h3>
    </div>
    <div class="col-md-4 text-center my-auto">
      <img class="header-img rounded-circle" src="../../assets/img/photo.jpg" alt="Photo of my dog Mushu and me">
    </div>
  </div>

</section>
