@import "../../styles.scss";

.home-section {

  margin: 150px auto;
  color: #333;
  max-width: 90%;

  @media screen and (max-width: breakpoint-max(sm)) {
    margin: 75px auto;
  }

  .header-img {
    max-width: 300px;
    box-shadow: 3px 3px 1px $dark-grey;

    @media screen and (max-width: breakpoint-max(md)) {
      max-width: 85%;
    }

    @media screen and (max-width: breakpoint-max(sm)) {
      max-width: 50%;
      margin-bottom: 40px;
    }
  }

  .bigger-text {
    font-size: 105%;
  }

  .uc-text {
    font-weight: bold;
    color: #00386c;
  }

  .irvine-text {
    font-weight: bold;
    color: #f6aa0d;
  }

  a.action-button {
    &:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}
